*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    border: 2px solid black;
    margin: 6px;
}
:root{
    --secondary-color:#5E936C;
    --primary-color:#93DA97;
}
/* NAVBAR START */

.navbar{
    background-color:var(--secondary-color);
    color:black;
    /* z-index: 10;
    position: absolute; */
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 12px 40px;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}
.links>a{
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    padding: 10px;
}
.links>a:hover{
    background-color:var(--primary-color);
}
/* NAVBAR END */
/* HEADER START */
.header{
    background-color: #93DA97;
    padding: 80px 200px;
}
.header>h2{
    text-align: center;
    margin-bottom: 40px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: black;
}
.form>input{
    padding: 6px;
    width: 500px;
    color: black;
    background-color:white;
    border: 1px solid black;
}

.message{
    height: 60px;

}

.form>button{
    padding: 6px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    border: 1px solid black;
    margin-top: 8px ;
}
.form>button:hover{
    background-color: #93DA97;
}
/* HEADER END */