*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --secondary-color:#5E936C;
    --primary-color:#93DA97;
}
/* NAVBAR START */

.navbar{
    background-color:var(--secondary-color);
    color:black;
    /* z-index: 10;
    position: absolute; */
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding: 12px 40px;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}
.links>a{
    text-decoration: none;
    align-items: center;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    padding: 10px;
}
.links>a:hover{
    background-color:var(--primary-color);
}
/* NAVBAR END */

/*CONTENT START*/
.intro{
    display: flex;
    gap:55px;
    border: 1px solid black;
    padding: 15px 15px;
    width: 100%;
    background-color: var(--primary-color);
}
.content{
    padding-left: 30px;
    width: 50%;
    height: 100%;
    border: 2px solid black;
    background-color: white;
}
.content>h1{
    padding-top: 100px;
    padding-bottom: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.para{
    padding-right: 30px;
    text-align: justify;
    padding-bottom: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.para>ul>li{
    text-align: justify;
}
.image>img{
    margin-top: 100px;
    margin-bottom: 100px;
    width:40vw
}
@media screen and (max-idth:70px){
    .intro{
        display: flex;
        flex-direction: column;
    }
}
/* CONTENT END */
    